<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OnlineBatchReceiverSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="OnlineBatchReceiverSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/OnlineBatchReceiver/OnlineBatchReceiver.asmx"
                binding="basicHttpBinding" bindingConfiguration="OnlineBatchReceiverSoap"
                contract="OnlineBatchReceiverSoap" name="OnlineBatchReceiverSoap" />
            <endpoint address="http://localhost/OnlineBatchReceiver/OnlineBatchReceiver.asmx"
                binding="customBinding" bindingConfiguration="OnlineBatchReceiverSoap12"
                contract="OnlineBatchReceiverSoap" name="OnlineBatchReceiverSoap12" />
        </client>
    </system.serviceModel>
</configuration>