<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appname" value="DownloadQueueExampleClient"/>
    <add key="inbox" value="Inbox"/>
    <add key="logdir" value="Log"/>
    <add key="log_thresholdMB" value="10"/>
    <add key="username" value="enter username"/>
    <add key="password" value="enter password"/>
    <add key="servicecode" value="enter service code"/>
    <add key="maxdownload" value="10"/>
    <add key="languageid" value="1044"/>     
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDownloadQueueExternalBasic"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000"
                    messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IServiceOwnerArchiveExternalStreamedBasic"
                    messageEncoding="Mtom">
                  <security mode="Transport">
                    <transport clientCredentialType="None" />
                  </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://tt02.altinn.basefarm.net/ArchiveExternal/DownloadQueueExternalBasic.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDownloadQueueExternalBasic"
                contract="DownloadQueueService.IDownloadQueueExternalBasic"
                name="BasicHttpBinding_IDownloadQueueExternalBasic" />
            <endpoint address="https://tt02.altinn.basefarm.net/ArchiveExternal/ServiceOwnerArchiveExternalStreamedBasic.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOwnerArchiveExternalStreamedBasic"
                contract="ServiceOwnerArchiveExternalStreamed.IServiceOwnerArchiveExternalStreamedBasic"
                name="BasicHttpBinding_IServiceOwnerArchiveExternalStreamedBasic" />
        </client>
    </system.serviceModel>
</configuration>